* {
  box-sizing: border-box;
}

html {
  font-size: 10px;
  height: 100vh;
  font-family: 'Ubuntu', sans-serif;
  background-color: rgb(2, 2, 2);
}

body {
  height: 100%;
  font-size: 1.6rem;
  margin: 0;
  background: url("./images/keyboard4.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #837e7e48;
  color: white;
  overflow: auto;
}

/* Typography */
h1 {
  font-size: 4rem;
}

h1,
h1+p {
  margin-left: 15px;
}

h2 {
  text-transform: capitalize;
}

h1+p {
  font-size: 2rem;
}

/* Navigation */
header {
  padding: 1em;
}

nav {
  display: flex;
  justify-content: space-between;
}

nav ul {
  display: flex;
  gap: 2em;
  list-style: none;
  padding-left: 0;
}

a {
  color: rgb(252, 248, 248);
  text-decoration: none;
}

nav a {
  font-size: 1.85rem;
  font-weight: 500;
}

nav div {
  display: flex;
  align-items: center;
  gap: 3px;
  font-size: 2rem;
}

.cart-number {
  font-size: 1.4rem;
}

.shopping-cart a {
  color: black;
}

/* Main */
main {
  display: flex;
  flex-direction: column;
  padding: 2em 1em;
}

.products-display,
.shopping-cart,
.checkout {
  background-color: rgba(80, 88, 109, 0.89);
  color: rgb(243, 237, 237);
  padding: 1em;
  border-radius: 5px;
}

.products-display {
  width: 90%;
  /* text-align: center; */
  align-self: center;
  max-height: 80vh;
  overflow: auto;
  position: relative;
  padding-bottom: 2em;
}

.view-cart {
  position: absolute;
  right: 1em;
  top: 5em;
  border-bottom: 1px solid white;
  padding-bottom: .2em;
  font-weight: 500;
}

.view-cart:hover {
  border: none;
  /* color: blue; */
}

/* products container */
.products-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-auto-rows: minmax(100px, auto);
  gap: 2em;
  /* padding: 2em; */

}

select {
  font: inherit;
  letter-spacing: .02em;
  /* font-weight: 500; */
  margin: 1em 0;
  font-size: 1.8rem;
  text-transform: capitalize;
}

/* product card */
.product-card {
  /* border: 1px solid white; */
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  position: relative;
}

.product-img {
  border-radius: 5px;
}

.product-img img {
  height: auto;
  width: 255px;
  border-radius: 5px;

}

.product-select {
  display: flex;
  flex-direction: column;
  align-items: left;
  position: relative;
}

.product-select label {
  display: block;
  margin: .5em 0;
  font-weight: 500;
}

.product-price {
  font-size: 2rem;
  font-weight: 500;
  position: absolute;
  right: 1em;
  top: -0.5em;
}

input {
  width: 30%;
  margin-bottom: .5em;
  font: inherit;
}

button {
  border: none;
  cursor: pointer;
  font: inherit;
  font-weight: 500;
  border-radius: 5px;
  padding: .4em .8em;
}

.product-card .add-to-cart-btn {
  padding: .5em 1em .6em 1em;
  font-weight: 500;
  font-size: 1.8rem;
  width: 60%;
  background-color: rgb(127, 207, 116);
  color: aliceblue;
  margin-top: .8em;
}

/* shopping cart */
.shopping-cart {
  display: flex;
  flex-direction: column;
  gap: 1em;
  max-width: 820px;
  max-height: 80vh;
  overflow: auto;
}

.shopping-cart h2 {
  margin-bottom: 0;
  margin-top: .2em;
  font-size: 3rem;
}

.cart-items-container {
  /* display: grid;
  grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
  grid-auto-rows: minmax(100px, auto);
  gap: 10px; */
  display: flex;
  flex-direction: column;
}

.cart-total {
  font-size: 2rem;
  /* text-align: right; */
  position: relative;
}

.cart-total span {
  position: absolute;
  right: 1em;
  text-decoration: underline;
}

/* .cart-options {
  display: flex;
  flex-direction: column;
  gap: 1.5em;
} */

.cart-options a {
  display: inline-block;
  font-size: 1.8rem;
  color: white;
  /* text-decoration: underline; */
  border-bottom: 1px solid white;
  padding-bottom: .2em;
}

.cart-options button {
  padding: .6em;
  margin-top: 1em;
  width: 100%;
  font-size: 1.8rem;
  font-weight: 500;
}

.cart-options a:hover {
  border-color: rgba(255, 255, 255, 0);
}

/* cart item */
.cart-item {
  position: relative;
  margin-top: 2em;
}

.cart-item h4 {
  font-size: 1.7rem;
  margin: 0;
}

/* .cart-item p {
  position: absolute;
  right: 0;
  top: 1em;
} */

/* .cart-item div {
  text-align: center;
} */

.cart-item img {
  width: 150px;
  height: auto;
  float: right;
}

.cart-item button {
  padding: .4em .8em .5em .8em;
  background-color: rgb(211, 95, 95);
  color: white;
}

/* Media queries */
@media screen and (min-width:500px) {
  /* .shopping-cart {
    flex-direction: row;
    flex-wrap: wrap;
  } */

  .product-img img {
    width: 300px;
  }
}

/* checkout */
.checkout {
  position: relative;
  max-width: 600px;
}

.checkout p {
  font-size: 2rem;
}

.checkout p span {
  text-decoration: underline;
  position: absolute;
  right: 1em;
}

.checkout div {
  display: flex;
  flex-direction: column;
  gap: 1em;

}

.checkout button {
  padding: .7em;
  font-size: 1.8rem;
}

@media screen and (min-width:550px) {
  .products-container {
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));

  }

  .cart-items-container {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

@media screen and (min-width:1400px) {
  h1 {
    font-size: 5rem;
  }
}